In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv("train.csv")
train.shape

(188318, 132)

First column is the ID; last column is the loss to be predicted; all other columns are features

cat1 - cat116 are categorical variables
cont1 - cont14 are continuous variables

In [3]:
# Show the first row of train
overview = pd.concat([train.iloc[0, :], train.count(), train.dtypes], axis=1)
overview.columns = ["value (from one sample)", "non-nan values", "dtype"]
overview.index.name = "headers"

if (train.count() == 188318).all():
    print "training set is free of missing values."

pd.set_option('display.max_rows', 20)
overview

training set is free of missing values.

        value (from one sample)  non-nan values    dtype
headers
id                            1          188318    int64
cat1                          A          188318   object
cat2                          B          188318   object
cat3                          A          188318   object
cat4                          B          188318   object
cat5                          A          188318   object
cat6                          A          188318   object
cat7                          A          188318   object
cat8                          A          188318   object
cat9                          B          188318   object
...                         ...             ...      ...
cont6                  0.718367          188318  float64
cont7                   0.33506          188318  float64
cont8                    0.3026          188318  float64
cont9                   0.67135          188318  float64
cont10                   0.8351          188318  float64
cont11                 0.569745          188318  float64
cont12                 0.594646          188318  float64
cont13                 0.822493          188318  float64
cont14                 0.714843          188318  float64
loss                    2213.18          188318  float64

[132 rows x 3 columns]

In [4]:
# column "id" contains unique values, not helpful for predictive modeling
print train["id"].unique().size
train.drop("id", axis=1, inplace=True)

188318

count of unique values of all categorical variables:

cat1 - cat72 each contains two unique values

cat73 - cat116 each contains more than two unique values

In [5]:
pd.set_option('display.max_rows', None)
train.ix[:, :116].apply(pd.Series.nunique)

headers
cat1        2
cat2        2
cat3        2
cat4        2
cat5        2
cat6        2
cat7        2
cat8        2
cat9        2
cat10       2
cat11       2
cat12       2
cat13       2
cat14       2
cat15       2
cat16       2
cat17       2
cat18       2
cat19       2
cat20       2
cat21       2
cat22       2
cat23       2
cat24       2
cat25       2
cat26       2
cat27       2
cat28       2
cat29       2
cat30       2
cat31       2
cat32       2
cat33       2
cat34       2
cat35       2
cat36       2
cat37       2
cat38       2
cat39       2
cat40       2
cat41       2
cat42       2
cat43       2
cat44       2
cat45       2
cat46       2
cat47       2
cat48       2
cat49       2
cat50       2
cat51       2
cat52       2
cat53       2
cat54       2
cat55       2
cat56       2
cat57       2
cat58       2
cat59       2
cat60       2
cat61       2
cat62       2
cat63       2
cat64       2
cat65       2
cat66       2
cat67       2
cat68       2
cat69       2
cat70       2
cat71       2
cat72       2
cat73       3
cat74       3
cat75       3
cat76       3
cat77       4
cat78       4
cat79       4
cat80       4
cat81       4
cat82       4
cat83       4
cat84       4
cat85       4
cat86       4
cat87       4
cat88       4
cat89       8
cat90       7
cat91       8
cat92       7
cat93       5
cat94       7
cat95       5
cat96       8
cat97       7
cat98       5
cat99      16
cat100     15
cat101     19
cat102      9
cat103     13
cat104     17
cat105     20
cat106     17
cat107     20
cat108     11
cat109     84
cat110    131
cat111     16
cat112     51
cat113     61
cat114     19
cat115     23
cat116    326
dtype: int64